WebApp_Honours/WebApp_Honours/Service References/IrisService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IrisService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IrisService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLecture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lecture" nillable="true" type="tns:Lecture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLecture" nillable="true" type="tns:ArrayOfLecture" />
  <xs:complexType name="Lecture">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttendanceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lecturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lecture" nillable="true" type="tns:Lecture" />
</xs:schema>